// Header style ==========================
.navbar--top {
	background-color: $black;
	border-radius: 0;
	margin-bottom: 0;
	min-height: 100%;

	.navbar-brand {
		height: 100%;
	}
	.navbar-burger {
		position: relative;
    	top: 9px;
		span {
			background-color: $white;
			display: block;
			height: 5px;
		    margin-bottom: 5px;
		    width: 40px;
		}
	}
}

.submenu {
	background-color: $white97;
	box-shadow: 0px 0px 5px #cac7c7;
	position: relative;

	&-container {
		padding: 25px 0 30px;
	}
}

.list-inline {
	&--group {
		li {
			margin-right: 40px;
		}
	}
}

.block-wrap {
	color: $gray;

	&:hover {
		color: $gray;
	}
}

.block-active {
	color: $blue;
	font-weight: 600;
	&:hover {
		color: $blue;
	}

	&:before {
		content: "";
		position: absolute;
		border-top: 20px solid $white97;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		bottom: -20px;
		left: 50%;
    	margin-left: -20px;
	}
}
.icon {
    display: inline-block;	
    margin: auto;

    img {
    	position: relative;
    	top: 5px;
    }	
}
.icon-title {
	color: $gray65;
	display: inline-block;
	position: relative;
    top: 10px;
    text-transform: uppercase;

    &--active {
    	color: $blue;
    	font-family: "Roboto Bold", "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
}